name: Build and Test All Distros

on:
  workflow_call:
    inputs:
      release_tag:
        type: string

jobs:
  build-binary-package:
    name: Build Redis CE MacOS Binary Distributions
    strategy:
      fail-fast: false
      matrix:
        os_version:         # See: https://github.com/actions/runner-images/blob/main/README.md#available-images
          - macos-14-large        # macOS 14 x86_64
          - macos-14-xlarge # macOS 14 arm64
    runs-on: ${{ matrix.os_version }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.release_tag == 'unstable' && 'unstable' || '' }}
    - name: Ensure Release Branch
      if: inputs.release_tag != '' && inputs.release_tag != 'unstable'
      id: ensure-branch
      uses: redis-developer/redis-oss-release-automation/.github/actions/ensure-release-branch@main
      with:
        release_tag: ${{ inputs.release_tag }}
        allow_modify: false
        release_branch: ${{ github.ref_name }}
        gh_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: ./.github/actions/build-binary-package
      with:
        redis_version: ${{ inputs.release_tag }}
        MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
        MACOS_KEYCHAIN_PASSWORD: ${{ secrets.MACOS_KEYCHAIN_PASSWORD }}
        MACOS_CERTIFICATE_PASSWORD: ${{ secrets.MACOS_CERTIFICATE_PASSWORD }}
        MAC_NOTARIZE_USERNAME: ${{ secrets.MAC_NOTARIZE_USERNAME }}
        MAC_NOTARIZE_PASSWORD: ${{ secrets.MAC_NOTARIZE_PASSWORD }}
        MAC_NOTARIZE_TEAM_ID: ${{ secrets.MAC_NOTARIZE_TEAM_ID }}


  test:
    name: Test Redis CE
    needs: build-binary-package
    strategy:
      fail-fast: false
      matrix:
        os_version:         # See: https://github.com/actions/runner-images/blob/main/README.md#available-images
          - macos-15-large  # macOS 15 x86_64
          - macos-15        # macOS 15 arm64
          - macos-14-large  # macOS 14 x86_64
          - macos-14        # macOS 14 arm64
        cask:
          - redis
          - redis-rc
    runs-on: ${{ matrix.os_version }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.release_tag == 'unstable' && 'unstable' || '' }}
    - uses: ./.github/actions/test-redis-package
      with:
        redis_version: ${{ inputs.release_tag }}
        cask: ${{ matrix.cask }}
        tap: ${{ vars.REDIS_TAP }}